{#{% extends "forum/forum_base.html" %}#}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
{#    var load_threads = function() {#}
{#        var e = $("<div class='push'>append test @chi</div>");#}
{#        $('#pushes').append(e);#}
{#        $.ajax({#}
{#            url: '{% url stream.views.get_pushes %}',#}
{#            dataType: 'json',#}
{#            type: 'GET',#}
{#            data: {#}
{#                id: {{ post.id }}#}
{#            },#}
{#            success: function(data) {#}
{#              alert(data[0]['fields']['body']);#}
{#                $('#pushes').text("");#}
{#                $.each(data, function() {#}
{#                    var e = $("<div class='push'>"#}
{#                            + this['body'] + " @" + this['user']#}
{#                            + "</div>");#}
{#                    $('#pushes').append(e);#}
{#                });#}
{#            }#}
{#        });#}
{#    };#}

    $( function() {
        $('#post_button').click( function() {
            $.ajax({
                url: '{% url stream.views.post %}',
                type: 'POST',
                data: JSON.stringify({
                    thread_id: '',
                    title: $('#post_title').val(),
                    body: $('#post_body').val()
                }),
                dataType: 'text',
                success: function(data, textStatus) {
{#                    alert(textStatus);#}
                    alert(data);
                    if (data.redirect) {
                        alert('redirect');
                        window.location.href = data.redirect;
                    }
                    load_pushes();
                }
            });
            $('#push_body').val('');
        });
    });
</script>

{% block stream_tools %}
    <div id="post_form">
        <h2>Post form</h2>
        title: <input id="post_title" type="text" maxlength="40" /><br />
        body: <textarea id="post_body"></textarea><br />
        <button id="post_button">post</button>
    </div>
{% endblock %}

{% block threads %}
    <h2>Threads</h2>
    {% for thread in threads %}
        <div class="thread">
            <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
        </div>
    {% endfor %}
{% endblock %}