{#{% extends "forum/forum_base.html" %}#}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
    var load_pushes = function() {
        var e = $("<div class='push'>append test @chi</div>");
        // $('#pushes').append(e);
        $.ajax({
            url: '{% url stream.views.get_pushes %}',
            type: 'GET',
            data: {
                id: {{ post.id }}
            },
            dataType: 'json',
            success: function(data) {
              // alert(data[0]['fields']['body']);
                $('#pushes').text("");
                $.each(data, function() {
                    var e = $("<div class='push'>"
                            + this['body'] + " @" + this['user']
                            + "</div>");
                    $('#pushes').append(e);
                });
            }
        });
    };

    $( function() {
        load_pushes();
        $('#post_reply_form').hide();
        $('#push_form').hide();

        $('#push_link').click( function() {
            $('#push_form').fadeIn(300);
        });

        $('#post_reply_link').click( function() {
            $('#post_reply_form').fadeIn(300);
        });

{#        $('#post_reply_button').click( function() {#}
{#            $.ajax({#}
{#                url: '{% url stream.views.reply_post %}',#}
{#                type: 'POST',#}
{#                data: JSON.stringify({#}
{#                    reply_post_id: {{ post.id }},#}
{#                    thread_id: '',#}
{#                    title: 'Re: ' + {{ post.title }},#}
{#                    post_body: $('#post_reply_body').val()#}
{#                }),#}
{#                dataType: 'text',#}
{#                success: function(data) {#}
{#                    load_pushes();#}
{#                }#}
{#            });#}
{#            $('#push_body').val('');#}
{#        });#}

        $('#push_button').click( function() {
            $.ajax({
                url: '{% url stream.views.push %}',
                type: 'POST',
                data: JSON.stringify({
                    post_id: {{ post.id }},
                    push_body: $('#push_body').val()
                }),
                dataType: 'text',
                success: function(data) {
                    load_pushes();
                }
            });
            $('#push_body').val('');
        });
    });
</script>

{% block post_content %}
    {%  if post %}
        <h2>post</h2>
        <div class="post">
            <div id="user">User: {{ post.user }}</div>
            <div id="time">Time: {{ post.created_time }}</div>
            <div id="title">Title: {{ post.title }}</div>
            <div id="text">Body:<br /> {{ post.body }}</div>
        </div>

        <!-- show all pushes -->
        <h2>pushes</h2>
        <div id="pushes">
{#            {% for push in pushes %}#}
{#                <div class="push">#}
{#                    {{ push.user }}:#}
{#                    {{ push.body }}#}
{#                </div>#}
{#            {% endfor %}#}
        </div>


        <!-- post tools -->
        <h2>tools</h2>
        <div class="post_tool">
            <a href="javascript: void(0)" id="post_reply_link">Reply</a><br />
            <a href="javascript: void(0)" id="push_link">Push</a><br />
            <a href="{{ post.get_absolute_url }}">Post absolute url</a>
        </div>

        <!-- forms -->
        <h2>form</h2>
        <div id="push_form">
            <input id="push_body" type="text" maxlength="140" />
            <button id="push_button">push</button>
        </div>
        <div id="post_reply_form">
            <textarea id="post_reply_body"></textarea>
            <button id="post_reply_button">reply</button>
        </div>

    {% endif %}
{% endblock %}
