<!DOCTYPE html>
<!-- source files for development -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/history.js/1.7.1/native.history.js"></script>
<script src="file:///Users/chi/git/px1/stream/static/stream/js/main.js"></script>
<script src="{{ STATIC_URL }}stream/js/main.js"></script>
<script src="file:///Users/chi/git/px1/stream/static/stream/js/dom.js"></script>
<script src="{{ STATIC_URL }}stream/js/dom.js"></script>
<script src="file:///Users/chi/git/px1/stream/static/stream/js/utils.js"></script>
<script src="{{ STATIC_URL }}stream/js/utils.js"></script>
<script src="file:///Users/chi/git/px1/stream/static/stream/js/alert.js"></script>
<script src="{{ STATIC_URL }}stream/js/alert.js"></script>
<script src="file:///Users/chi/git/px1/stream/static/stream/js/channel.js"></script>
<script src="{{ STATIC_URL }}stream/js/channel.js"></script>
<script src="file:///Users/chi/git/px1/stream/static/stream/js/post.js"></script>
<script src="{{ STATIC_URL }}stream/js/post.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/stream/noodle.css">

<!--
<script src="{{ STATIC_URL }}stream/noodle.js"></script>
-->
<style type="text/css">
    div, ul, li {
{#        display: inline;#}
    }
    #wrap {
        float: left;
        width: 800px;
    }
    .channel-box {
        float: left;
        width: 200px;
        background: #9c9;
    }
    .stream {
        float: right;
        width: 600px;
    }
    .alert {
        background: #ff4500;
    }
</style>

<div id="wrap">
    <!-- alert -->
    <div class=alert>[alert]</div>

    <!-- channel panel -->
    <div class="channel-box"></div>

    <!-- stream panel -->
    <div class="stream">
        <div class="post_form">
            title:<textarea class="post_form_title_input"></textarea><br>
            body: <textarea class="post_form_body_input"></textarea><br>
            tags: <textarea class="post_form_tag_input"></textarea><br>
            <div class="post_form_tag_box"></div>
            <a href="#" class="post_form_autotag_btn">auto tag</a>
            <a href="#" class="post_form_send_btn">new post</a>
        </div>
        <p>*************************************************************</p>
        <div class="post_box"></div>
        <div class="streamFooter">
            <a href="#" class="loadPosts">[load more posts]</a>
        </div>
    </div>
</div>