{% extends "forum_base.html" %}

{% block sidebar %} <style type="text/css"> </style> {% endblock %}

{% block content %}
    <style type="text/css">
        .pagination { margin-top: 20px; margin-left: -20px; }
        .main { margin-left: 25px; margin-top: 30px; width: 700px; }
        .title { font-size: 1.4em; margin-top: 0px; padding-left: 4px; }
        .last { border: 0px; }
        .title a { text-decoration: none; }
        .button { background: #999; color: white; padding: 4px; text-decoration: none; }
        .buttont { background: #999; color: white; padding: 2px; text-decoration: none; }

        td { border-bottom: 1px solid #ccc; }
        #list { border: 1px solid #ccc; width: 700px; }
        #new_topic { float: right; }
        .pagination { margin-top: 20px; margin-left: -20px; }
        .main { margin-left: 25px; margin-top: 30px; width: 700px; }
        .title { font-size: 1.4em; margin-top: 10px; padding-left: 0px; }
        .title a { text-decoration: none; }
        .button { background: #999; color: white; padding: 6px; text-decoration: none; float: right; }
        .date { font-size: 0.8em; padding-left: 5px; }
        .ppic { float: right; }
        .clear { clear: both; }
        .last { border: 0px; }

        .post {
            margin: 8px; padding: 8px; border: 1px solid #ccc; margin-bottom: 14px; background: white;
        }
        .ttitle {
            font-style: bold; font-size: 1.6em; border-bottom: 1px solid #ccc; margin-bottom: 9px;
            padding-left: 10px; width: 700px;
        }

        #list { border: 1px solid #a6cccc; width: 700px; background: #f6f6f6; }
        #back { margin: 5px; }
    </style>

    <div class="main">
        <!-- Tags -->
        <form action="{% url forum.views.tag_board %}" method="GET">
            {% csrf_token %}
            Tags:
            <input type="text" name="t" size="10" />
            <input type="text" name="t" size="10" />
            <input type="text" name="t" size="10" />
            <input type="submit" value="Go" id="submit" />
        </form>

        <br />
        {% for tag in tags %}
            {{ tag }}&nbsp;&nbsp;
        {% endfor %}
    </div>

{% endblock %}
